<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    
    <link rel="stylesheet" href="../node_modules/reset-css/reset.css">
    <link rel="stylesheet" href="fixed_layout.css">
  </head>
  <body>
    <div class="grid-container">
      <nav class="navigation">
        navigation
      </nav>
      <aside class="side-navigation">
        aside
      </aside>
      <div class="main">
        main
      </div>
      <div class="footer">
        footer
      </div>
    </div>
  </body>
</html>
