<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../node_modules/reset-css/reset.css">
  <link rel="stylesheet" href="2_grid_layout.css">
  <title>CSS Grid</title>
</head>
<body>
  <div class="container">
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis placeat at quos, animi explicabo est quidem distinctio, debitis, vitae aliquid delectus inventore laborum eligendi sint impedit error? Eum illum reprehenderit provident ab nam, perferendis doloribus quibusdam, quae et, laudantium vitae!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis placeat at quos, animi explicabo est quidem distinctio, debitis, vitae aliquid delectus inventore laborum eligendi sint impedit error? Eum illum reprehenderit provident ab nam, perferendis doloribus quibusdam, quae et, laudantium vitae!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis placeat at quos, animi explicabo est quidem distinctio, debitis, vitae aliquid delectus inventore laborum eligendi sint impedit error? Eum illum reprehenderit provident ab nam, perferendis doloribus quibusdam, quae et, laudantium vitae!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis placeat at quos, animi explicabo est quidem distinctio, debitis, vitae aliquid delectus inventore laborum eligendi sint impedit error? Eum illum reprehenderit provident ab nam, perferendis doloribus quibusdam, quae et, laudantium vitae!
    </div>
  </div>
</body>
</html>