<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="3_grid_layout.css">
  <title>CSS Grid</title>
</head>
<body>
  <div class="container">
    <div>
      Lorem ipsum dolor sit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus alias dolor quibusdam minus laborum, nemo quos rem eligendi tenetur ducimus culpa ad! Voluptas amet alias nam repudiandae omnis tempore sint laborum id. Doloribus, qui repudiandae. Aliquid adipisci pariatur iste voluptate. Culpa non quibusdam possimus reprehenderit debitis modi qui! Culpa mollitia ex nobis porro nam id voluptatibus vitae officia eum ducimus, eaque consequatur adipisci et facere tempore quam, tenetur fugiat optio nulla itaque nihil sit quo. Dolorem reiciendis voluptate praesentium eligendi?
    </div>
    <div class="nested">
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
      <div>Lorem</div>
    </div>
    <div>
      Lorem ipsum dolor sit.
    </div>
  </div>
</body>
</html>