<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../node_modules/reset-css/reset.css">
  <link rel="stylesheet" href="6_grid_responsive_layout.css">
  <title>CSS Grid</title>
</head>
<body>
  <div class="container">
    <div class="navigation">Navigation</div>
    <div class="header">Header</div>
    <div class="content">
      <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint fuga repudiandae dicta sit. Est tenetur dignissimos at, ipsam, alias voluptatibus quidem a provident inventore rem pariatur eos quis fuga repudiandae sint repellendus consequuntur voluptatem. Ipsam nobis qui temporibus, tenetur dignissimos quos officiis totam necessitatibus reiciendis blanditiis id accusantium quae modi amet, at quis numquam ducimus nulla repellendus architecto quia?</div>
      <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit maiores laboriosam asperiores. Voluptatem libero placeat dolorem magnam sit natus sequi consectetur aliquid, consequuntur cum ex dicta saepe pariatur id porro ut aperiam temporibus eum cupiditate cumque, repudiandae quibusdam atque. Odio autem voluptatibus officiis aut magnam iusto molestias vitae beatae reiciendis, eos quam obcaecati at, dolore, provident ut accusamus? Dolorum, ex.</div>
      <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores reprehenderit quo voluptatum velit impedit repellendus consectetur ipsam officia, at placeat dolor quisquam eveniet rem quibusdam sint dolorem commodi mollitia, quidem saepe magni modi optio nam vitae! Voluptatem quasi reprehenderit eos dolorum non animi impedit, quisquam odit eum consequatur accusamus similique fuga recusandae possimus qui harum ea saepe asperiores accusantium perspiciatis?</div>
      <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iste dignissimos maiores, impedit aperiam rem a distinctio officiis magni saepe dolorem, autem sunt natus voluptates enim dolor? Dolor deleniti explicabo ut! Perspiciatis quidem veritatis sit repellendus modi eum necessitatibus asperiores ad magni tempore aliquid recusandae ea dolor nihil laudantium dicta facere accusantium perferendis aperiam, eos consequuntur nesciunt eligendi. Harum, aperiam!</div>
      <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. A enim sequi, placeat officiis aut, repellendus incidunt ut eveniet impedit at odit, repudiandae provident unde modi deserunt expedita voluptatem iusto et. Expedita et nemo, hic incidunt repudiandae placeat unde sint alias sed aperiam quia ipsum sequi sunt minima itaque iusto amet consequuntur dignissimos veniam vero animi aliquam. Facere quaerat in harum!</div>
      <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsam animi, deserunt possimus voluptatum necessitatibus sed cumque dolores eum sapiente modi velit doloribus eveniet et ipsum quae neque consequatur pariatur natus! Ratione esse nesciunt dignissimos autem? Perferendis odio nemo soluta ipsam maxime a nobis, nulla impedit repellat deserunt ex consequuntur labore aperiam magni adipisci laudantium facilis saepe cum hic. Fuga!</div>
      <div class="box">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit incidunt dolore nihil aut nemo corporis soluta, laudantium ipsam sapiente molestias adipisci id quasi, illum iusto dignissimos maxime magni numquam ratione, veniam eligendi atque. Tempora iure rem ratione aspernatur sapiente aliquid eligendi ea eveniet a ducimus unde corrupti fuga error, reprehenderit, sint recusandae quos pariatur alias quibusdam nisi deserunt labore assumenda!</div>
      <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ullam nobis in id iste nesciunt quas vitae soluta voluptate? Adipisci sed facere ipsam expedita tempora. Quidem accusantium voluptatem necessitatibus commodi aspernatur, autem nostrum minima quis tempora rem modi suscipit tempore laudantium harum pariatur fugiat omnis quos delectus illum natus asperiores officiis quia, mollitia placeat! Sequi, voluptates? Modi ipsam excepturi obcaecati.</div>
    </div>
    <div class="footer">Footer</div>
  </div>
</body>
</html>