<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../node_modules/reset-css/reset.css">
  <link rel="stylesheet" href="7_grid_img_responsive.css">
  <title>CSS Grid</title>
</head>
<body>
  <div class="container">
    <div class="box box1"></div>
    <div class="box box2 vertical"></div>
    <div class="box box3 horizontal"></div>
    <div class="box box4"></div>
    <div class="box box5"></div>
    <div class="box box6 big"></div>
    <div class="box box7"></div>
    <div class="box box8 vertical"></div>
    <div class="box box9"></div>
    <div class="box box10 horizontal"></div>
    <div class="box box11"></div>
    <div class="box box12 big"></div>
    <div class="box box13"></div>
  </div>
</body>
</html>