* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav,
main,
footer {
  width: 100%;
}

.Navigation {
  padding: 2rem 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: #999999;
}

.Navigation .Navigation__row {
  width: 100%;
  height: 4rem;
}

.Navigation .Navigation__top {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 12fr 1fr 2fr;
}

.Navigation .Navigation__top .Navigation__location {
  display: grid;
  align-content: center;
}

.Navigation .Navigation__top .Navigation__temperature {
  display: grid;
  align-content: center;
}

.Navigation .Navigation__top .Navigation__cloudWrapper {
  display: grid;
  justify-content: start;
  align-content: center;
}

.Navigation .Navigation__top .Navigation__cloudWrapper .Navigation__cloud {
  width: 1.8rem;
  height: 1.8rem;
}

.Navigation .Navigation__top .Navigation__loginIconWrapper {
  display: grid;
  justify-content: end;
  align-content: center;
}

.Navigation
.Navigation__top
.Navigation__loginIconWrapper
.Navigation__loginIcon {
  width: 1.8rem;
  height: 1.8rem;
}

.Navigation .Navigation__top .Navigation__signIn {
  display: grid;
  align-content: center;
  text-align: center;
}

.Navigation .Navigation__top .Navigation__center {
  display: grid;
  grid-template-areas: ". . . . . q . . . . . .";
}

.Navigation .Navigation__top .Navigation__center .Navigation__Q {
  grid-area: q;
  background-color: #1875f0;
  color: white;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.Navigation .Navigation__bottom {
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  border-top: 3px solid #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
}

.Navigation .Navigation__bottom .Navigation__hamburgerWrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  border-right: 3px solid #f5f5f5;
}

.Navigation
.Navigation__bottom
.Navigation__hamburgerWrapper
.Navigation__hamburger {
  width: 3rem;
  height: 3rem;
}

.Navigation .Navigation__bottom .Navigation__searchWrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  border-left: 3px solid #f5f5f5;
}

.Navigation .Navigation__bottom .Navigation__searchWrapper .Navigation__search {
  width: 2.6rem;
  height: 2.6rem;
}

.Navigation .Navigation__bottom .Navigation__menu {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.Navigation .Navigation__bottom .Navigation__menu .Navigation__menu__items {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2rem;
}

.CardList {
  display: grid;
  padding: 2rem 5rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 3fr));
  grid-auto-rows: minmax(15rem, 2fr);
  grid-gap: 1.5rem;
  grid-auto-flow: dense;
  background-color: #F2F2F2;
}

.CardList .Card {
  border-radius: .5rem;
  text-align: center;
  background-color: rgb(248, 248, 248);
}

.CardList .Card.Card__vertical {
  grid-row: span 2;
}

.CardList .Card.Card__horizontal {
  grid-column: span 2;
}

.CardList .Card.Card__big {
  grid-row: span 2;
  grid-column: span 3;
}

.CardList .Card.Card__first {
  display: flex;
  flex-direction: column; 
}

.Card__first > div {
  border-bottom: 2px solid rgba(233, 233, 233, 0.856);
}

.Card__first > div:last-child {
  border-bottom: none;
}

.Card__first__lastNews {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 6rem;
  color: #666666;
  height: 5rem;
}

.Card__first__lastNews img {
  width: 2rem;
  height: auto;
}

.Card.Card__first .Card__first__mainImage {
  background-image: url(./images/street.svg);
  background-position: center;
  background-size: cover;
  color: #F7F7F7;
}

.Card.Card__first .Card__first__mainImage .Card__first__textTwoRows__bottom {
  color: #F7F7F7;
}

.Card__first .Card__first__textTwoRows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 3 8rem;
  color: #666666;
  text-align: left;
}

.Card__first__textTwoRows__top {
  margin-top: 2rem;
  padding-left: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
}

.Card__first__textTwoRows__bottom {
  margin-top: 1rem;
  padding-left: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #B3B3B3;
}

.Card__first__showMore {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  color: #B3B3B3;
}

.Card__second {
  background-image: url(./images/table.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.Card__second__food {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.Card__second__food span {
  display: inline-block;
  background-color: #F74236;
  width: 3rem;
  border-radius: .3rem;
}

.Card__second__contents {
  margin-top: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

.Card__second__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid rgb(139, 139, 139);
  mix-blend-mode: normal;
  color: #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.Card__second__footer__iconWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 5rem;
}

.Card__second__share {
  position: absolute;
  top: 30px;
  right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 60px;
}

.Card__third {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.Card__third__image {
  position: relative;
  background-image: url(./images/muscleup.svg);
  background-position: center;
  background-size: cover;
  border-radius: .5rem .5rem 0 0;
  min-height: 12rem;
}

.Card__third__image__news {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.Card__third__image__share {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Card__third__contents {
  min-height: 5rem;
  padding: 1rem 1.5rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #666666;
  text-align: left;
}

.Card__third__footer {
  min-height: 3.8rem;
  border-top: 2px solid rgb(231, 231, 231);
  color: #B3B3B3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 13px;
}

.Card__third__footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  border-right: 2px solid rgb(231, 231, 231);
}

.Card__third__footer__iconWrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(231, 231, 231);
}

.Card__forth {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
}

.Card__forth__image {
  position: relative;
  background-image: url(./images/jump.svg);
  border-radius: .5rem .5rem 0 0;
  background-position: center;
  background-size: cover;
  flex: 2;
}

.Card__third__image__streets {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.Card__third__image__share {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Card__forth__contents {
  flex: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #666666;
  text-align: left;
}

.Card__forth__footer {
  flex: 1;
  border-top: 2px solid rgb(231, 231, 231);
  color: #B3B3B3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 13px;
}

.Card__forth__footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  border-right: 2px solid rgb(231, 231, 231);
}

.Card__forth__footer__iconWrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(231, 231, 231);
}

.Card__fifth {
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  background-image: url(./images/street2.svg);
  background-position: center;
  background-size: cover;
}

.Card__fifth__contents {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
}

.Card__fifth__footer {
  flex: 1;
  border-top: 2px solid rgb(139, 139, 139);
  color: #B3B3B3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 13px;
  color: #FFFFFF;
}

.Card__fifth__footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.Card__fifth__footer__iconWrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.Card.Card__sixth {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #1875F0;
  border-radius: 6px;
  color: #FFFFFF;
}

.Card__sixth__top {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.Card__sixth__top span {
  border-radius: 6px;
  width: 5rem;
  height: 2rem;
  background-color: rgb(25, 100, 197);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 1.125px;
}

.Card__sixth__middle {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.Card__sixth__middle span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 90px;
}

.Card__sixth__bottom {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.Card__sixth__bottom span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.Card__seventh {
  background-image: url(./images/artman.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.Card__seventh__reportage {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.Card__seventh__reportage span {
  display: inline-block;
  width: 6rem;
  border-radius: .3rem;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.Card__seventh__contents {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

.Card__seventh__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid rgb(185, 185, 185);
  mix-blend-mode: normal;
  color: #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.Card__seventh__footer__iconWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 5rem;
}

.Card__eighth {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.Card__eighth__image {
  position: relative;
  background-image: url(./images/dog.svg);
  background-position: center;
  background-size: cover;
  border-radius: .5rem .5rem 0 0;
  min-height: 12rem;
}

.Card__eighth__image__news {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.Card__eighth__image__share {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Card__eighth__contents {
  min-height: 5rem;
  padding: 1rem 1.5rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #666666;
  text-align: left;
}

.Card__eighth__footer {
  min-height: 3.8rem;
  border-top: 2px solid rgb(231, 231, 231);
  color: #B3B3B3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 13px;
}

.Card__eighth__footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  border-right: 2px solid rgb(231, 231, 231);
}

.Card__eighth__footer__iconWrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(231, 231, 231);
}

.Card__ninth {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.Card__ninth__image {
  position: relative;
  background-image: url(./images/desert.svg);
  background-position: center;
  background-size: cover;
  border-radius: .5rem .5rem 0 0;
  min-height: 12rem;
}

.Card__ninth__image__news {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.Card__ninth__image__share {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Card__ninth__contents {
  min-height: 5rem;
  padding: 1rem 1.5rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #666666;
  text-align: left;
}

.Card__ninth__footer {
  min-height: 3.8rem;
  border-top: 2px solid rgb(231, 231, 231);
  color: #B3B3B3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 13px;
}

.Card__ninth__footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  border-right: 2px solid rgb(231, 231, 231);
}

.Card__ninth__footer__iconWrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(231, 231, 231);
}

.Card__tenth {
  display: flex;
  flex-flow: column wrap;
}

.Card__tenth__top {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.Card__tenth__top span {
  margin-left: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 90px;
  color: #666666;
}

.Card__tenth__top button {
  margin-right: 2rem;
  width: 9rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #B3B3B3;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 4px;
}

.Card__tenth__middle {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid rgb(231, 231, 231);
  border-bottom: 2px solid rgb(231, 231, 231);
}

.Card__tenth__middle__person {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

.Card__tenth__middle__person > img {
  flex: 1;
}

.Card__tenth__middle__person > div {
  flex: 3;
  display: flex;
  flex-flow: column wrap;
  padding-left: 1rem;
}

.Card__tenth__middle__person > div > span {
  flex: 1;
}

.Card__tenth__middle__person > div > span:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #B3B3B3;
}

.Card__tenth__middle__person > div > span:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: #666666;
}

.Card__tenth__bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #B3B3B3;
}

.Card__eleventh {
  position: relative;
  background-image: url(./images/fence.svg);
  background-position: center;
  background-size: cover;
  border-radius: .5rem;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 1.125px;
}

.Card__eleventh__ad {
  position: absolute;
  top: 60px;
  width: 100%;
}

.Card__eleventh__ad span {
  display: inline-block;
  width: 6rem;
  height: 2rem;
  background-color: #F74236;
  border-radius: .5rem;
}

.Card__eleventh__visit {
  position: absolute;
  bottom: 110px;
  width: 100%;
}

.Card__eleventh__visit span {
  display: inline-block;
  width: 7rem;
  height: 3rem;
  background-color: #00000044;
  mix-blend-mode: normal;
  border-radius: 1rem;
  font-size: 11px;
  line-height: 3rem;
}
